@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Sandbox

<root>
    <div>Salut la team</div>
</root>

@code
{

    public override void Tick()
    {
        base.Tick();
        Log.Info("Activated RoundHud");
    }

    protected override int BuildHash() => 0; //System.HashCode.Combine( Player.Local.Role );
}
